.postsList__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    max-width: 500px;
    padding: 20px;
    margin-left: 15%;
    background-color: #fff;
    align-items: center;
}

