.userLogin_wrapper {
    display: flex;
    margin-left: 100px;
}

.userLogin__image {
  background-color: white;
  margin-top: 10px;
  object-fit: contain;
}

.userLogin__form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.userLoggedin__buttons {
    display: flex;
    column-gap: 15px;
    text-align: center;
    align-items: center;
    margin-left: 200px;
  }

  .userLogin__input {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
  }