.userDetails__wrapper {
    box-sizing: border-box;
    align-items: center;
    margin-top: 20px;
}

.userDetails__info {
    display: block;
    margin-left: 300px;
}

.userDetails__link {
    color: darkblue;
    font-weight: bold;
}