.userParameters__wrapper {
    font-family: "Proxima Nova";
    box-sizing: border-box;
    display: inline-flex;
    margin-top: -300px;
    margin-left: 300px;
    align-items: center;
}

.userParameters__firstElement{
    font-family: "Proxima Nova";
    margin-left: 0px;
    font-size: 18px;
}

.userParameters__element {
    font-family: "Proxima Nova";
    margin-left: 100px;
    font-size: 18px;
}