.header__wrapper {
  display: flex;
  top: 0;
  border-bottom: 1px solid lightgray;
  background-color: white;
  position: sticky;
  height: 70px;
  align-items: center;
  z-index: 9999;
}

.header__image {
  background-color: white;
  padding: 20px;
  object-fit: contain;
}

.header__headerWrapper {
  margin: 0;
  max-width: 900px;
  padding: 0 75px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__search input {
  font-family: 'Proxima Nova';
  text-indent: -175px;
  margin-left: 375px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat left;
  cursor: pointer;
  display: flex;
  border-radius: 5px;
  background-color: #EFEFEF;
  border: 0px;
  height: 45px;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}

.header__buttons {
  display: flex;
  column-gap: 15px;
  text-align: center;
  align-items: center;
  margin-left: 200px;
}

.header__loginButton {
  font-family: 'Proxima Nova';
  display: inline-block;
  background-color: #33a1ff;
  height: 35px;
  width: 70px;
  border-radius: 10px;
  border: 1px solid transparent;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.header__loginButton:hover {
    background-color: rgba(5, 5, 246, 0.711);
}

.header__signupButton {
  font-family: 'Proxima Nova';
  display: block;
  background-color: white;
  width: 100px;
  margin-left: -10px;
  border: none;
  color: #33a1ff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

.header__signupButton:hover {
    color: #33a0ffc1;
}
