.header__wrapper {
  display: flex;
  top: 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
  background-color: white;
  position: sticky;
  height: 70px;
  align-items: center;
  z-index: 9999;
}

.header__image {
  background-color: white;
  margin-top: 10px;
  object-fit: contain;
}

.header__userInfoWrapper {
  width: 100%;
  margin: 0;
  padding: 0 75px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__search input {
  font-family: "Proxima Nova";
  align-items: center;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat left;
  cursor: pointer;
  display: flex;
  border-radius: 5px;
  background-color: #EFEFEF;
  border: 0px;
  height: 45px;
  width: 300px;
  padding: 20px 10px 20px 10px;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}

.userLoggedOut__buttons {
  display: flex;
  column-gap: 15px;
  text-align: center;
  align-items: center;
  margin-left: 200px;
}
