.options__wrapper {
    display: flex;
    margin-top: 20px;
    margin-left: 400px;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.options__items {
    text-align: center;
    align-items: center;
    margin-left: 100px;
    font-weight: bold;
    cursor: pointer;
}

.options__items:active {
    border-top: 1px solid gray;
}