.post__headers {
    display: flex;
    margin-top: 20px;
    margin-left: 400px;
    align-items: center;
    text-align: center;
}

.post__headers div {
    text-align: center;
    align-items: center;
    margin-left: 100px;
    position: relative;
}

.post__wrapper {
    max-width: 500px;
    padding: 20px;
    margin-left: 225px;
}

.post__image {
    object-fit: contain;
    width: 350px;
    height: 350px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}